<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Pactera Pulse API!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Pactera Pulse API</h1>
        <p class="lead">
            Welcome to the Pactera Pulse API!
        </p>
        <p>
        <li>
            To use the service, please post the result to vote/emote with parameters timestamps and value;
        </li>

        <li>
            Parameter timestamp format is yyyy-MM-dd'T'HH:mm:ss;
        </li>
        <li>
            Parameter value range is "happy", "neutral", "sad";
        </li>
        <li>
            Here is the example post url: http://localhost:8080/vote/emotion?timestamp=ssss&amp;value=happy
        </li>
        <li>
            The response is json {"status", "ok"};
        </li>
        </p>
        <!--
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
        </p>
        -->
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2015 Pactera Digital</div>
</div>
</body>
</html>